<ion-content>
  <ion-grid>
    <ion-row id="logo">
      <img src="../../assets/logo.png" />
      <!-- <ion-icon name="medkit-sharp" id="icon"></ion-icon> -->
      <span id="title">Cure mantra</span>
    </ion-row>
    <ion-row id="header">
      <img id="image" src="../../assets/header_image.png" />
    </ion-row>
    <ion-row id="content">
      <strong id="content_heading">A healthcare app for family</strong>
      <p id="content_detail">
        The unique platform where people and doctors comes under same umbrella.
        Search and book a doctor with a tap of button.
      </p>
    </ion-row>
    <ion-row id="login">
      <ion-button expand="full" [routerLink]="['/login']">LOGIN</ion-button>
    </ion-row>
    <ion-row id="create_account">
      <ion-button expand="full">CREATE ACCOUNT</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
