#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#list_item {
  display: flex;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
}

#list_item ion-label {
  margin-bottom: 10px;
}

#avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0a3d62;
}

#header ion-title {
  color: #fff;
  font-weight: bold;
}

#pagination {
  width: 100%;
  justify-content: center;
  align-items: center;
}

#pagination ion-button {
  width: 50%;
  font-size: 20px;
  height: 40px;
  background-color: #2475b0;
}

#header ion-icon {
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}
